/* Global */
body {
	background: #36393e;
	color: #bfbfbf;
	font-family: sans-serif;
	margin: 0;
}

h1 {
	font-size: 1.7rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.2em 1em;
    border-radius: 3px;
    border-left: solid #e90a08 5px;
    font-weight: 100;
}

h2 {
	font-size: 1rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.4em 1.8em;
    border-radius: 3px;
    border-left: solid #4974a9 5px;
    font-weight: 100;
}

table{
	border-collapse: collapse;
}

.left {
	float: left;
}
.right {
	float: right;
}
.bold {
	font-weight: bold;
}
.red{
	color: #F04747;
}
.green{
	color:#43B581;
}
.clear {
	clear: both;
}
.centered{
	text-align: center;
}
.select{
	width: 98px !important;
	padding: 0 !important;
}
.selected{
	background: #4974a9;
}
.status{
	width: 120px;
	padding-left: 8px;
}
.labelFix {
	line-height: 40px;
}

#error {
    text-align: center;
    color: #fff;
    background: #af3535;
    border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}

#copyright{
	font-size: 0.95em;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3em;
}
.btn-theme{
    #width: 350px;
    margin-left: 10px;
    margin-top: 10px;
}
/* ERROR */

.hide {
	display: none;
}

.show {
	display: block !important;
	animation-name: fadeIn;
	animation-duration: 1s;
}

@keyframes fadeIn {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}
	

hr {
	background: #3e4146;
}

a {
	color:#e7af12;
    text-decoration: none;
}

a:hover {
	color: #95b8e4;
}

li{
	margin: 4px 0;
}

/* Meter */
.meter_background{
	background: #42464D;
	width: 100%;
	min-width: 90px;
}
.meter_forground{
	color: #fff;
	padding: 4px 0;
	/* + one of the colors below 
	(width will be set by the JS) */
}
.meter_green{
	background: #43B581;
}
.meter_orange{
	background: #FAA61A;
}
.meter_red{
	background: #F04747;
}
.meter_value{
	padding-left: 8px;
}


/* Tables */
table {
	width: 100%;
	margin-bottom: 50px;
}

th, td {
    #padding: 0px 6px;
    text-align: left;
    border-bottom: 1px solid #5d5d5d;
}


/* Navigation bar */
nav {
	display: block;
	padding: 8px 10px;
	background: #2675eb;
	border-radius: 20px;
}

nav a {
	color: #ffffff;
	padding: 0.5em;
	display: inline-block;
	text-decoration: none;
}

nav a:hover{
	background: #36393f;
	color:#cecece;
	border-radius: 20px;
}

/* Inputs and buttons */
.upload-script, .button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 25px;
	color:#fff;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background: #2675eb;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	background: #42444a; 
}
button[id="nav"]:hover{
	background: #42444a; 
	font-size: 24px;
}
/* Forms */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #2f3136;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	color: #d4d4d4;
	border: none;
}

.setting {
	width: 100% !important;
	max-width: 284px !important;
}

input[type="file"] {
    display: none;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  #max-width: 1140px;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.25rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
  }
  
  .switch input.switch-input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 20px; /* 设置圆角 */
  }
  
  .switch .slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px; 
	bottom: 2px; 
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
  }
  
  .switch input.switch-input:checked + .slider {
	background-color: #2196F3;
  }
  
  .switch input.switch-input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  .switch input.switch-input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .switch .slider.round {
	border-radius: 20px;
  }
  
  .switch .slider.round:before {
	border-radius: 50%;
  }
input{background:#f0f1f1;border:0;padding:0 15px}
#file-input,input{border-radius:4px;margin:10px auto;font-size:15px}
#file-input{width:59%;padding:0 10px;box-sizing:border-box;border:1px solid #ddd;line-height:44px;text-align:left;display:block;cursor:pointer; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#bar,#prgbar{background-color:#f0f1f1;border-radius:10px}#bar{background-color:#00acc1;width:0;height:10px;}
form{background:#2e2e2e;max-width:100%;margin:5px auto;padding:35px; padding-bottom: 30px;border-radius:12px;text-align:center; align-content: center;}
.btn {background-color: #35382a;box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 0 15px 0 rgba(0, 0, 0, 0.02), 0 0 20px 4px rgba(0, 0, 0, 0.06);color: white;border-radius: 4px;padding: 9px 16px;background-image: none;}
table,th, td{font-family: arial;border-collapse: collapse;border: 0px solid #dddddd;}
th, td {padding: 9px; border-bottom-width: 2px;}
th:nth-child(1) {text-align: left;}
td:nth-child(0) {column-width: 30px;text-align: center;}
td:nth-child(1) {column-width: 5px;text-align: left;white-space: nowrap;overflow: hidden;}
td:nth-child(2) {column-width: 170px;text-align: center;}
td:nth-child(3) {column-width: 30px;text-align: center;}

#repo,#model,#copyright{
	font-size: 0.95em;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #02a601;
	color: white;
	border-radius: 8px;
	padding: 10px 20px;
	font-size: 16px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	z-index: 999;
}